*{
  color: aliceblue;
}

body {
  background-color: coral;
}

button {
  margin-top: 25px;
  background-color: pink;
  border-style: none;
  border-radius: 50px;
  height: 50px;
}

div img {
  margin-top: 50px;
}

a {
  color: rgb(0, 190, 149);
  text-decoration: none;
}

.center_font{
  text-align: center;
}

.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}